Press the button to update your information

<%=button_to "/root", method: 'post' do %>


Update my information


<%end%>

<p>
</p>

<audio controls>
  
    <source src="/tmp_file.wav" type="audio/wav">    

</audio>

<%# 
<p>
	<p class="userInfos">
	<%#= "Greetings to the logged users " + current_user.firstName + " " +  current_user.lastName %>
	<%#= "There are currently" +  current_user.lastName + " elevators deployed in the " + current_user.lastName + " buildings of your " + current_user.lastName + " customers " %>


